



.contact root {
    background-color: orange !important;
}

.contactPage {
    display: block;
  margin-left: auto;
  margin-right: auto;
    width: 100%;
    
    color: white(255, 0, 0, 0.8);
    background-color: orange;
    font-family: Arial, Helvetica, sans-serif;
}

.summaryText {
   
    margin-top: 100px;
    z-index: 2;
  position: fixed;
  height: auto;
  width: 500px;

  display: block;
  margin-left: 30%;
  background-blend-mode: lighten;
  border-radius: 10px;
  visibility: visible;
  

  background-color: white;
  font-family: 'Major Mono Display', monospace;
  font-size: larger;
  text-align: center;


  border: 10px solid green;
  border-radius: 10px;
  white-space: pre-wrap;
}

.contactBackground {

    position: absolute;
    width: 100%;
    height: auto;
    z-index: 0;
    opacity: 100%;
    
}

.contactPage h1 {
    color: black;
    z-index: 1;
    position: relative;
    font-family: 'Major Mono Display', monospace;
    
    
    
    
}
.contactPage h2 {
    color: black;
    z-index: 1;
    position: relative;
    font-family: 'Major Mono Display', monospace;
    
    
    
}

a {
    color: black;
}



