

body {
    background-color: orange !important;
}

.root {
    background-color: green !important;
}

.contactPage {
    width: 100%;
    color: white(255, 0, 0, 0.8);
    background-color: orange;

    font-family: Arial, Helvetica, sans-serif;
}

.contactBackground {
    position: absolute;
    width: 100%;
    z-index: 0;
    opacity: 100%;
    mix-blend-mode: darken;
}

.contactPage h1 {
    color: black;
    z-index: 1;
    position: absolute;
    font-family: 'Major Mono Display', monospace;
    padding-left: 35%;
    padding-top: 5%;
    
}
.contactPage h2 {
    color: black;
    z-index: 1;
    position: absolute;
    font-family: 'Major Mono Display', monospace;
    padding-left: 35%;
    padding-top: 10%;
    
}

a {
    color: black;
}



