.footerContainer{
    height: 100px;
    width: 100%;


    background-color: whitesmoke;
    border-top: 5px solid rgba(25, 25, 25, 0.5);
    /* background-color: black; */
}
.footerTextContainer{
    /* background-color: black; */
    padding-left: 20px;
    /* font-size: 15px; */

}

.footerTextContainer h1{
    font-size: 20px;
}