

.homeContainer {
    position: absolute;
    width: 100%;
}

.EnterButton{

width: 100%;

}

.enterAnimationContainer{
  width: 100%;
  height: 100%;
  background-color: rgb(80, 250, 60);
  position: fixed;
  z-index: 3;
  opacity: 1;
  transition: ease-in-out 0.2s all;
}

.enterAnimation {
  position: relative;
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;    
}

.splashBioContainer{
  z-index: 2;
  position: relative;
  height: auto;
  width: 500px;

  display: block;
  margin-left: auto;
  margin-right: auto;

  background-blend-mode: lighten;
  opacity: 85%;
  border-radius: 10px;
  visibility: visible;
  
  background-color: white;
  color: black;
  font-family: 'Major Mono Display', monospace;
  font-size: larger;
  text-align: center;

  border: 10px solid green;
  border-radius: 10px;
  white-space: pre-wrap;
}

h1{
  font-size: x-large;
}

h2 {
  font-size: xx-large;
}

.homeLogo {
    position: fixed;
    z-index: 0;
    height: 100%;
    width: 100%;
    border: none;
    transform: translateX(0%);
    visibility: hidden;
  }

  @media (max-width: 768px) {

    .homeLogo {
      margin-top: 50%;
    }
  }

.homeLogo:hover {
    filter: invert(2);
  }


.bottomContainer {
  position: fixed;
  padding-left: 50px;
  background-color: blueviolet;
  width: 100px;
  height: 100px;
}

.invisible {

opacity: 0;
pointer-events: none;
}