

.page1Page {
    width : 100vw;
    background-color: green;
}

.page1Banner {
    width: 100%;
}


@media only screen and (max-width: 600px) {
    .sequencerContainer {
        padding: 0px 20px;
        width: calc(100% - 40px);
    }
}